<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tunehub</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css"
			integrity="sha512-t38vG/f94E72wz6pCsuuhcOPJlHKwPy+PY+n1+tJFzdte3hsIgYE7iEpgg/StngunGszVMrRfvwZinrza0vMTA=="
			crossorigin="anonymous"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<nav>
			<div class="nav-wrapper">
				<a href="/songs" class="brand-logo">Tunehub</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<% if (user) { %>
					<li><a href="/songs/new">Add Song</a></li>
					<li><a href="/auth/logout">Log Out</a></li>
					<% } else { %>
					<a href="/auth/google">Login with Google</a>
					<% } %>
				</ul>
			</div>
		</nav>
	</body>
</html>
