* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.brand-logo {
	margin-left: 15px;
}

nav {
	background-color: #0091ea;
	margin-top: 0;
	margin-bottom: 10px;
}

.card {
	text-align: center;
	max-width: 400px;
}

.card {
	margin: 20px auto 30px auto;
}

.card-image > img {
	max-width: 400px;
	max-height: 350px;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
}

#row {
	display: flex;
}

#column {
	flex: 50%;
}

#showImg {
	width: 50%;
}

#userAvatar {
	border-radius: 50%;
	display: inline;
	margin: 15px 0 0 0;
	width: 50px;
}

.li {
	margin-top: 10px;
}

#userAvatar1 {
	border-radius: 50%;
	display: inline;
	margin-top: 15px;
	width: 50px;
}

#userName {
	display: inline;
	margin-top: 0;
}
