<%- include('../partials/header.ejs') %>
<style>
	body {
		background-color: #333333;
		text-align: center;
	}
	img {
		margin: 5vh auto auto;
	}
</style>

<a href="/songs"><img style="width: 30%" src="/images/tunehub.png" alt="" /></a>
<br />
<a href="/songs/new">Add a new song</a>

<%- include('../partials/footer.ejs') %>
