  <%- include('../partials/header.ejs')  %>
  
  </div>
  <ul>Registered Users:
    <% users.forEach(u => { %>
      <li><a href="/users/<%= u._id %>/profile"><%= u.name %></a></li>
    <% }) %>
  </ul>

  <%- include('../partials/footer.ejs') %>